<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner"> 2016 &copy; <%= appname %> by the-wire.
        <a href="https://github.com/THE-WIRE" title="the-wire coders" target="_blank">Produced with love</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
<!-- BEGIN CORE PLUGINS -->
<script src="javascripts/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="javascripts/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="javascripts/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="javascripts/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="javascripts/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="javascripts/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="javascripts/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="javascripts/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="javascripts/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="javascripts/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="javascripts/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="javascripts/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="javascripts/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="javascripts/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="javascripts/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
<script src="javascripts/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
<script src="javascripts/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="javascripts/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="javascripts/pages/scripts/charts-amcharts.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="javascripts/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
<script src="javascripts/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
<script src="javascripts/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->