<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<% include tpl/header.ejs %>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
<!-- BEGIN HEADER -->

<% include tpl/menu.ejs %>

<!-- END HEADER -->


<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <% include tpl/sidebar.ejs %>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->

            <!--h3 class="page-title"> Blank Page Layout
                <small>blank page layout</small>        To be resolved
            </h3-->

            <!-- END PAGE HEADER-->


            <!--START EDITING FROM HERE-->


            <div class="m-heading-1 border-green m-bordered">
                <h3>Data Entry Hub</h3>
                <p> All types of entries are done here. </p>
                <p> Start from selecting department in college table.
                    <a class="btn red btn-outline" href="#" target="_blank">for admins to enter college</a>
                </p>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table>
                        <thead>
                            <tr>
                                <% col.columns.forEach(function (items) { %>
                                    <th><%= items %></th>
                                <% }); %>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table>
                        <thead>
                        <tr>
                            <% dept.columns.forEach(function (items) { %>
                            <th><%= items %></th>
                            <% }); %>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table>
                        <thead>
                        <tr>
                            <% profs.columns.forEach(function (items) { %>
                            <th><%= items %></th>
                            <% }); %>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table>
                        <thead>
                        <tr>
                            <% subj.columns.forEach(function (items) { %>
                            <th><%= items %></th>
                            <% }); %>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>


            <!--STOP EDITING HERE-->

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <% include tpl/quicksidebar.ejs %>
</div>

<!-- END CONTAINER -->

<% include tpl/footer.ejs %>
</body>

</html>