<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<style>
    .no-click{
        pointer-events: none;
    }
</style>
<!-- BEGIN HEAD -->

<% include tpl/header.ejs %>

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
        <!-- BEGIN HEADER -->
        <% include tpl/menu.ejs %>
        <!-- END HEADER -->

        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->

        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <% include tpl/sidebar.ejs %>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->

                    <!--h3 class="page-title"> Blank Page Layout
                        <small>blank page layout</small>        To be resolved
                    </h3-->

                    <!-- END PAGE HEADER-->


                    <!--START EDITING FROM HERE-->

                    <!--<div class="note note-info">

                    </div>-->
                    <div class="col-md-6">
                        <label for="survey_sel">Select Survey</label>
                        <select class="btn btn-circle blue dropdown-toggle" data-toggle="dropdown" name="hod_survey_dd" id="survey_sel">
                            <i class="fa fa-angle-down"></i>
                            <ul class="dropdown-menu" id="survey_ul">
                                <li>
                                    <a href="javascript:;"> <option value="null">select one</option></a>
                                </li>
                            </ul>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="year_sel">Select Semester</label>
                        <select class="btn btn-circle blue dropdown-toggle" data-toggle="dropdown" name="hod_sem_dd" id="sem_sel">
                            <i class="fa fa-angle-down"></i>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:;"> <option value="">select Sem</option></a>
                                </li>
                            </ul>
                        </select>
                    </div>
                    <br><br><br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-social-dribbble font-green hide"></i>
                                        <span class="caption-subject font-dark bold uppercase">Survey Details</span>
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-checkable" id="datatable_students">
                                            <thead>
                                            <tr role="row" class="heading">
                                                <th> SRN </th>
                                                <th> NAME OF STUDENT </th>
                                                <th> STATUS </th>
                                                <th> GENERATE & SEND </th>
                                            </tr>
                                            </thead>
                                            <tbody id="datatable_students_body">

                                            </tbody>
                                        </table>
                                      <div class="col-md-3">
                                           <button class="btn btn-primary" id="sendall">SEND TO ALL</button>
                                      </div>
                                                <br><br>
                                       <div id="sent_alert">
                                           <h3 id="sent_message"></h3>
                                       </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--<p> A black page template with a minimal dependency assets to use as a base for any custom page you create </p>-->
                        <!--
                    <div class="col-md-6">
                        <label for="survey_sel">Select Survey</label>
                        <select class="btn btn-circle red dropdown-toggle" data-toggle="dropdown" name="hod_survey_dd" id="survey_sel">
                            <i class="fa fa-angle-down"></i>

                            <ul class="dropdown-menu" id="survey_ul">
                                <li>
                                    <a href="javascript:;"> <option value="null">select one</option></a>
                                </li>
                            </ul>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="year_sel">Select Semester</label>
                        <select class="btn btn-circle red dropdown-toggle" data-toggle="dropdown" name="hod_sem_dd" id="sem_sel">
                            <i class="fa fa-angle-down"></i>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:;"> <option value="">select Sem</option></a>
                                </li>
                            </ul>
                        </select>
                    </div>
                    <br><br><br>
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_students">
                            <thead>
                                <tr role="row" class="heading">
                                    <th width="5%" style="background-color: black; color: white; text-align: center">SRN</th>
                                    <th width="12%" style="background-color: black; color: white; text-align: center">NAME OF STUDENT</th>
                                    <th width="5%" style="background-color: black; color: white; text-align: center">STATUS</th>
                                    <th width="20%" style="background-color: black; color: white; text-align: center">GENERATE & SEND</th>
                                </tr>
                            </thead>
                            <tbody id="datatable_students_body">

                            </tbody>
                        </table>
                        <div class="col-md-3">
                            <button class="btn btn-success" id="sendall">SEND TO ALL</button>
                        </div>
                        <br><br>
                        <div id="sent_alert">
                            <h3 id="sent_message"></h3>
                        </div>
                    </div>

-->
                    <!--STOP EDITING HERE-->

                </div>
                <!-- END CONTENT BODY -->
                </div>
            </div>
            <!-- END CONTENT -->
            <% include tpl/quicksidebar.ejs %>
        </div>

    <!-- END CONTAINER -->

    <% include tpl/footer.ejs %>
    </body>
    <script type="text/javascript">

        var ids = [];
        var surveyid = null;

        $(document).ready(function () {
            $("#sent_message").innerHTML = '';
            $.ajax({
                url: "../../ajax/activeSurvey",
                method: "POST",
                dataType: 'json',
                success: function (data) {
                    data.forEach(function (item) {
                        $("#survey_sel").append($('<option value="' + item.survey_id + '">' + item.survey_id + '</option>'));
                    })
                }
            });
        });

        $("#sendall").click(function () {
            if(ids.length == 0){
                window.alert("Table is empty!");
            }
            else {
                $("#sent_message").text('');
                $("#sent_message").append('sending...')
                $.ajax({
                    url: '../../ajax/sendAll',
                    data: {"id[]":ids, "length":ids.length, "surveyid":surveyid},
                    method: 'POST',
                    success: function () {
                        $("#sent_message").text('');
                        $("#sent_message").append('URL sent to above students');
                    },
                    error: function () {
                        $("#sent_message").text('');
                        $("#sent_message").append('Error');
                    }
                })
            }

        });

        $("#sem_sel").change(function () {
            $("#sent_message").text('');
            ids.length = 0;
            console.log("empty: " + ids);
            $("#datatable_students_body").text('');
            $.ajax({
                url: '../../ajax/retrieve_stud',
                data: {"sem":$("#sem_sel").val()},
                method: 'POST',
                dataType: 'json',
                success: function(data) {
                    //window.alert("success");
                    var i = 0;
                    data.forEach(function (item) {
                        ids.push(item._id);
                        console.log("ejs : " + item._id);
                        //window.alert(item);
                        if(item.status == "0"){
                            $("#datatable_students").append(
                            '<tr>'+
                            '<td style="text-align: center">' + (++i) + '</td>' +
                            '<td style="text-align: center">' + item.name + '</td>' +
                            '<td align="center"> <button style="width:50%" type="button" class="btn red-mint btn-outline sbold uppercase no-click">URL not sent</button> '+'</td>' +
                            '<td><button class="btn btn-primary" style="display: block; margin: auto" id="'+i+'_single_send_0" onclick="send_0_1(this)">' + 'GENERATE & SEND URL' + '</button><p id="'+i+'" data-id="'+item._id+'" hidden></p></td>' +
                            '</tr>'
                            );
                        }
                        else if(item.status == "1"){
                             $("#datatable_students").append(
                             '<tr>'+
                             '<td style="text-align: center">' + (++i) + '</td>' +
                             '<td style="text-align: center">' + item.name + '</td>' +
                             '<td align="center"><button style="width:50%" type="button" class="btn yellow-mint btn-outline sbold uppercase no-click">URL sent</button>' +  '</td>' +
                             '<td><button class="btn btn-primary" style="display: block; margin: auto" id="'+i+'_single_send_1" onclick="send_0_1(this)">' + 'GENERATE & SEND URL' + '</button><p id="'+i+'" data-id="'+item._id+'" hidden></p></td>' +
                             '</tr>'
                             );
                         }
                        else if(item.status == "2"){
                             $("#datatable_students").append(
                             '<tr>'+
                             '<td style="text-align: center">' + (++i) + '</td>' +
                             '<td style="text-align: center">' + item.name + '</td>' +
                             '<td align="center"><button style="width:50%" type="button" class="btn green-haze btn-outline sbold uppercase no-click">Feedback done</button>'  + '</td>' +
                             '<td><button class="btn btn-primary" style="display: block; margin: auto" id="'+i+'_single_send_2" disabled>' + 'GENERATE & SEND URL' + '</button><p id="'+i+'" data-id="'+item._id+'" hidden></p></td>' +
                             '</tr>'
                             );
                        }
                        //console.log("ids: " + ids[2]);
                        //console.log('Success');
                    })
                },
                error: function(data){
                    console.log("Error occured while displaying table! " + data.responseText);
                }
            });
        });
        $("#survey_sel").change(function () {
            surveyid = $("#survey_sel").val();
            console.log(surveyid);
            ids.length = 0;
            $("#sent_message").text('');
            $("#sem_sel").text('');
            $("#datatable_students_body").text('');
            var str = $("#survey_sel").val().toString();
            var type = str.split("-")[3];
            console.log(type);
            var i;
            $("#sem_sel").append($('<option value="">Select Sem</option>'));
            if(type == "even"){
                for(i=2; i<=8; i+=2){
                    $("#sem_sel").append($('<option value="'+ i +'">' + i + '</option>'));
                }
            }
            else {
                for(i=1; i<=8; i+=2){
                    $("#sem_sel").append($('<option value="'+ i +'">' + i + '</option>'));
                }
            }
        });

        function send_0_1(dom) {
            $("#sent_message").text('');
            $("#sent_message").append('sending...');
            console.log(dom.id);
            var but_id = dom.id;
            var id = but_id.split("_")[0];
            var para_val = $("#" + id).attr("data-id");
            //var send = ids[id-1];
            ids.length = 0;
            ids.push(para_val);
            console.log(surveyid);
            $.ajax({
                url: '../../ajax/sendAll',
                data: {"id[]": ids, "length": 1, "surveyid": surveyid},
                method: 'POST',
                success: function () {
                    $("#sent_message").text('');
                    $("#sent_message").append('URL sent to Sr No.' + id);
                },
                error: function () {
                    $("#sent_message").text('');
                    $("#sent_message").append('Error');
                }
            });
        }

        /*router.post('/sendAll', function (req, res) {
         var i;
         if(req.body.length == 1){
         var id = req.body['id[]'];
         console.log("ids : " + id);
         }else
         {
         for(i=0; i<req.body.length; i++){
         console.log("i: " + i);
         console.log("ids : " + req.body['id[]'][i]);
         }
         }
         //console.log("omkar: " + req.body['id[]'][0]);
         res.end();
         });*/

    </script>
</html>