<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<% include tpl/header.ejs %>

<style>
    #show-error{color:red !important; display:none;}
    #show-error2{color:red !important; display:none;}

    #show-success{color:green !important;}
</style>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
<!-- BEGIN HEADER -->

<% include tpl/menu.ejs %>

<!-- END HEADER -->


<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <% include tpl/sidebar.ejs %>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->

            <!--h3 class="page-title"> Blank Page Layout
                <small>blank page layout</small>        To be resolved
            </h3-->

            <!-- END PAGE HEADER-->

            <!--START EDITING FROM HERE-->

            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-social-dribbble font-red"></i>
                        <span class="caption-subject font-red bold uppercase">Settings</span>
                        <span class="caption-helper">Change Password</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="col-md-8 col-md-offset-3">
                        <span class="span center" style="font-weight: bold;">Your Username : <%= user.name %></span>
                    </div>
                </div>
                <br />
                <hr />
                <div class="portlet-body" id="change-pass-div">
                    <form action="#" id="change-password" class="form-horizontal">
                        <input name="id" type="hidden" value="<%= user._id %>" />
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">New Password</label>
                                <div class="col-md-4">
                                    <input id="pass1" type="password" class="form-control input-circle" placeholder="Enter Password " required>
                                </div>
                            </div>
                        </div>
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Confirm New Password</label>
                                <div class="col-md-4">
                                    <input id="pass2" type="password" name="newpass" class="form-control input-circle" placeholder="Enter Password" required>
                                </div>
                                <span id="show-error" style="padding-left: 10px;" >Please type same password in both fields and submit.</span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="button" class="change-pass  btn btn-circle green">Change Password</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <span id="show-success" style="display:none;">Your Password changed successfully!</span>
                <span id="show-error2" style="display:none;"></span>
            </div>
            <!-- END PORTLET-->

            <!--STOP EDITING HERE-->

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <% include tpl/quicksidebar.ejs %>
</div>

<!-- END CONTAINER -->

<% include tpl/footer.ejs %>

<script>

    $('#show-error').fadeOut();

    $('#change-pass-div').on('click', '.change-pass', function(e){
       e.preventDefault();
        $('#show-error').fadeOut();
        $('#show-success').fadeOut();
        $('#show-error2').fadeOut();


        if($('#pass1').val() != '' &&  $('#pass2').val() != '') {
            if ($('#pass1').val() == $('#pass2').val()) {

                $.ajax({
                    url: '../../ajax/changePassword',
                    data: $('#change-password').serialize(),
                    method: 'POST',
                    success: function (data) {

                        $('#show-success').fadeIn();
                    },
                    error: function (error) {

                        $('#show-error2').text(error.status + ' : ' + error.statusText);
                        $('#show-error2').fadeIn();
                    }
                });
            }
            else {

                $('#show-error').fadeIn();
            }
        }
        else{
            $('#show-error2').text('Password field(s) cannot be empty!');
            $('#show-error2').fadeIn();
        }


    });

</script>

</body>

</html>