<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<% include tpl/header.ejs %>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
<!-- BEGIN HEADER -->

<% include tpl/menu.ejs %>

<!-- END HEADER -->


<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <% include tpl/sidebar.ejs %>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->

            <!--h3 class="page-title"> Blank Page Layout
                <small>blank page layout</small>        To be resolved
            </h3-->

            <!-- END PAGE HEADER-->
            
            <!--START EDITING FROM HERE-->

            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Settings </div>
                </div>
                <div class="portlet-body form change-pass-div">
                    <div class="center"><h1>HI <%= name %> your password is reveiled </h1></div>
                    <!-- BEGIN FORM-->
                    <form id = "change-password" action="ajax/change_pass" class="form-horizontal">
                        <blockquote class="note note-info"><p>Change Password</p> </blockquote>
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Old Password</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="password" class="form-control input-circle-left" placeholder="Password">
                                        <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-user"></i>
                                                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">New Password</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="password" class="form-control input-circle-left" placeholder="Password">
                                        <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-user"></i>
                                                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Confirm New Password</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="password" class="form-control input-circle-left" placeholder="Password">
                                        <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-user"></i>
                                                                    </span>
                                    </div>
                                </div>
                            </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-circle green change-ass">Change Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    <!-- END FORM-->
                </div>

            </div>
            <!--STOP EDITING HERE-->

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <% include tpl/quicksidebar.ejs %>
</div>

<!-- END CONTAINER -->

<% include tpl/footer.ejs %>

<script>

    $('.change-pass-div').on('click', '.change-pass', function(e){
       e.preventDefault();

        $.ajax({
           url: 'ajax/change_pass',
            data: $('#change-password').serialize(),
            method: 'POST',
            success: function(data){
                console.log("Password changed!" + data);
            },
            error: function(error){
                console.log("Error occured : "+error.responseText);
            }
        });
    });

</script>

</body>

</html>