<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<% include tpl/header.ejs %>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
<!-- BEGIN HEADER -->
<% include tpl/menu.ejs %>

<!-- END HEADER -->


<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <% include tpl/sidebar.ejs %>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->

            <!--h3 class="page-title"> Blank Page Layout
                <small>blank page layout</small>        To be resolved
            </h3-->

            <!-- END PAGE HEADER-->


            <!--START EDITING FROM HERE-->
            <div class="portlet light select-survey-div">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase">Select Survey</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="form-group col-md-6">
                                            <label class="form-control" for="survey_id">Select Survey</label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <select class="form-control" id="survey_id" name="survey_id">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group col-md-6">
                                            <label class="form-control" for="dept_id">Select Department</label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <select class="form-control" id="dept_id" name="dept_id">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group col-md-6">
                                            <label class="form-control" for="sem">Select Sem</label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <select class="form-control" id="sem" name="sem">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <a style="width:100%;" id="get-subject-btn" class="btn green btn-outline get-subject-btn">GET SUBJECTS</a>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6" style="border-left: 1px solid grey !important; padding-left: 5px; heigth: 100%">
                                    <div id="subject_panel">

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet light">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <i class="icon-settings font-dark"></i>
                                    <span class="caption-subject bold uppercase">Plot</span>
                                </div>

                            </div>
                            <div class="portlet-body">
                                <div id="plot" class="plot"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet light select-subdesc-div">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">SUBJECT NAME</span>
                                    </div>

                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover order-column" id="sample_1">
                                        <thead>
                                        <tr>
                                            <th>Particulars</th>
                                            <th>Rating</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>O</td>
                                                <td>2</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>


            <!--STOP EDITING HERE-->

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <% include tpl/quicksidebar.ejs %>
</div>



<!-- END CONTAINER -->

<% include tpl/footer.ejs %>


            <!--[if lt IE 9]>
            <script src="../../javascripts/global/plugins/respond.min.js"></script>
            <script src="../../javascripts/global/plugins/excanvas.min.js"></script>
            <![endif]-->
            <!-- BEGIN CORE PLUGINS -->
            <script src="../../javascripts/global/plugins/jquery.min.js" type="text/javascript"></script>
            <script src="../../javascripts/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="../../javascripts/global/plugins/js.cookie.min.js" type="text/javascript"></script>
            <script src="../../javascripts/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
            <script src="../../javascripts/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
            <script src="../../javascripts/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
            <script src="../../javascripts/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
            <!-- END CORE PLUGINS -->
            <!-- BEGIN THEME GLOBAL SCRIPTS -->
            <script src="../../javascripts/global/scripts/app.min.js" type="text/javascript"></script>
            <!-- END THEME GLOBAL SCRIPTS -->
            <!-- BEGIN THEME LAYOUT SCRIPTS -->
            <script src="../../javascripts/layouts/layout5/scripts/layout.min.js" type="text/javascript"></script>

            <!-- END THEME LAYOUT SCRIPTS -->
            <script src="../../javascripts/global/scripts/datatable.js" type="text/javascript"></script>
            <script src="../../javascripts/global/plugins/datatables/datatables.all.min.js" type="text/javascript"></script>
            <script src="../../javascripts/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
            <!--<script src="../../javascripts/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>-->

            <!--<script src="../../javascripts/pages/scripts/table-datatables-scroller.min.js" type="text/javascript"></script>-->
            <!--<script src="../../javascripts/pages/scripts/table-datatables-buttons.min.js" type="text/javascript"></script>-->
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>
<span id="survey_id_span"></span>
<span id="subject_id"></span>
<span id="dept_id_span"></span>

<script>
    var data = <%- JSON.stringify(questions) %>
    question = new Array();

    data.forEach(function(ques){
        question[ques.qid] = ques.question;
    })

    console.log(question);
</script>

<script>
    $(document).ready(function(){
       $.ajax({
           url: '../../ajax/getSurveyList',
           data: {col_id: 1},
           method: 'POST',
           success: function(data){
               data.forEach(function(d){
                   $('#survey_id').append('<option value="'+d.semtype+'">'+d.survey_id+'</option>')
               });

               getSemList();

           }
       });

        $.ajax({
            url: '../../ajax/getDeptList',
            data: {col_id: 1},
            method: 'POST',
            success: function(data){
                data.forEach(function(d){
                    $('#dept_id').append('<option value="'+d.dept_id+'">'+d.dept_name+'</option>')
                });


                $('#dept_id_span').text($('#dept_id option:selected').val());

            }
        });

        $('#survey_id').on('change', function(){
            getSemList();
        })

    });

    $('.select-survey-div').on('click', '.get-subject-btn', function(e){
        e.preventDefault();

        $.ajax({
            url: '../../ajax/load_sub',
            method: 'POST',
            data: {col_id: 1, dept_id: $('#dept_id').val(), sem: $('#sem').val()},
            success: function(data){
                $('#subject_panel').text('');
                data.data.forEach(function(d){
                    $('#subject_panel').append('' +
                        '<div id="div-'+d.sub_id+'" class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 10px;">' +
                            '<a onclick="javascript:getSurvey('+d.sub_id+', '+d.prof_id+')" align="center" id="anchor-'+d.sub_id+'" class="btn blue btn-outline" style="width: 100%;">'+d.sub_name.toUpperCase()+'</a>' +
                        '</div>');
                })
            }
        })
    });

    function getSemList(){
        $('#survey_id_span').text($('#survey_id option:selected').text());

        var sem = new Array();

        if($('#survey_id').val() == 'odd'){
            sem = [1, 3, 5, 7];
        }
        else if($('#survey_id').val() == 'even'){
            sem = [2, 4, 6, 8];
        }
        $('#sem').text('');
        for(i in sem){
            $('#sem').append('<option value="'+sem[i]+'">'+sem[i]+'</option>');
        }
    }

    var plotted = new Array();

    function getSurvey(sub_id, prof_id){
        for(i in plotted){
            if(plotted[i] == sub_id){
                return true;
            }
        }
        console.log(JSON.stringify({sub_id: sub_id, col_id: '<%= user.col_id %>', survey_id: $('#survey_id_span').text(), dept_id: $('#dept_id_span').text()}));
        $.ajax({
            url: '../../ajax/getRating',
            method: 'POST',
            data: {sub_id: sub_id, col_id: '<%= user.col_id %>', survey_id: $('#survey_id_span').text(), dept_id: $('#dept_id_span').text()},
            success: function(data){
                console.log(JSON.stringify(data));
                var x = new Array();
                var y = new Array();
                data.forEach(function(d){
                    x.push(String(question[d.q_id]));
                    y.push(d.v_rating);
                })

                PLOT = document.getElementById('plot');

                Plotly.plot( PLOT, [{
                    x: x,
                    y: y,
                    name: $('#div-'+sub_id+' a').text()}], {
                    margin: { t: 0 },
                    xaxis: {type: 'category', showticklabels: false, tickangle: '90' },
                    yaxis: { range: [0,5] },
                    legend : {orientation: 'h'}} );

                plotted.push(sub_id);
                $('#anchor-'+sub_id).attr('disabled', 'true');


            },
            error: function(error){
                console.log(error.statusText);
            }
        })
    }

</script>



</html>