<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<% include tpl/header.ejs %>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
<!-- BEGIN HEADER -->

<% include tpl/menu.ejs %>

<!-- END HEADER -->


<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <% include tpl/sidebar.ejs %>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->

            <!--h3 class="page-title"> Blank Page Layout
                <small>blank page layout</small>        To be resolved
            </h3-->

            <!-- END PAGE HEADER-->


            <!--START EDITING FROM HERE-->
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>FEEDBACK</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                            <ul class="nav nav-tabs nav-justified">
                                <% var i = 0;
                                  subject.forEach(function(item){ %>
                                <li <% if(i == 0) { %>
                                        class = "active"
                                        <% } %> ><a href="#tab-<%= item %>" data-toggle="tab"><%= item %></a></li>
                                <% i++ %>
                                <% }) %>

                            </ul>
                            <div class="panel-body tab-content">
                                <div class="tab-pane active" id="tab-first">



                                    <div class="panel-body">

                                        <div class="row">

                                            <div class="col-md-12">

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Is the Subject Understandable?</label>
                                                    <div class="well well-sm">
                                                        <blockquote class="blockquote-sm">Rating:</blockquote>
                                                        <div class="row margin-bottom text-align-center">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> One
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Two
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Three
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Four
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Five
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Comments</label>
                                                    <div class="col-md-9">
                                                        <div class="col-md-9 col-xs-12">
                                                            <textarea class="form-control" rows="5"></textarea>
                                                            <span class="help-block">Please provide proper feedback</span>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-second">



                                    <div class="panel-body">

                                        <div class="row">

                                            <div class="col-md-12">

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Is the Subject Understandable?</label>
                                                    <div class="well well-sm">
                                                        <blockquote class="blockquote-sm">Rating:</blockquote>
                                                        <div class="row margin-bottom text-align-center">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> One
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Two
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Three
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Four
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Five
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Are your concepts clear?</label>
                                                    <div class="well well-sm">
                                                        <blockquote class="blockquote-sm">Rating:</blockquote>
                                                        <div class="row margin-bottom text-align-center">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> One
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Two
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Three
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Four
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Five
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Comments</label>
                                                    <div class="col-md-9">
                                                        <div class="col-md-9 col-xs-12">
                                                            <textarea class="form-control" rows="5"></textarea>
                                                            <span class="help-block">Please provide proper feedback</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane" id="tab-third">



                                    <div class="panel-body">

                                        <div class="row">

                                            <div class="col-md-12">

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Is the Subject Understandable?</label>
                                                    <div class="well well-sm">
                                                        <blockquote class="blockquote-sm">Rating:</blockquote>
                                                        <div class="row margin-bottom text-align-center">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> One
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Two
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Three
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Four
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Five
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Is the Subject Understandable?</label>
                                                    <div class="well well-sm">
                                                        <blockquote class="blockquote-sm">Rating:</blockquote>
                                                        <div class="row margin-bottom text-align-center">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> One
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Two
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Three
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Four
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Five
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Is the Subject Understandable?</label>
                                                    <div class="well well-sm">
                                                        <blockquote class="blockquote-sm">Rating:</blockquote>
                                                        <div class="row margin-bottom text-align-center">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> One
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Two
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Three
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Four
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Five
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Comments</label>
                                                    <div class="col-md-9">
                                                        <div class="col-md-9 col-xs-12">
                                                            <textarea class="form-control" rows="5"></textarea>
                                                            <span class="help-block">Please provide proper feedback</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="tab-fourth">


                                    <div class="panel-body">

                                        <div class="row">

                                            <div class="col-md-12">

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Is the Subject Understandable?</label>
                                                    <div class="well well-sm">
                                                        <blockquote class="blockquote-sm">Rating:</blockquote>
                                                        <div class="row margin-bottom text-align-center">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> One
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Two
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Three
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Four
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Five
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Is the Subject Understandable?</label>
                                                    <div class="well well-sm">
                                                        <blockquote class="blockquote-sm">Rating:</blockquote>
                                                        <div class="row margin-bottom text-align-center">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> One
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Two
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Three
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Four
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Five
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Is the Subject Understandable?</label>
                                                    <div class="well well-sm">
                                                        <blockquote class="blockquote-sm">Rating:</blockquote>
                                                        <div class="row margin-bottom text-align-center">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> One
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Two
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Three
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Four
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Five
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Is the Subject Understandable?</label>
                                                    <div class="well well-sm">
                                                        <blockquote class="blockquote-sm">Rating:</blockquote>
                                                        <div class="row margin-bottom text-align-center">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> One
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Two
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Three
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Four
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Five
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Comments</label>
                                                    <div class="col-md-9">
                                                        <div class="col-md-9 col-xs-12">
                                                            <textarea class="form-control" rows="5"></textarea>
                                                            <span class="help-block">Please provide proper feedback</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="tab-fifth">


                                    <div class="panel-body">

                                        <div class="row">

                                            <div class="col-md-12">

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Is the Subject Understandable?</label>
                                                    <div class="well well-sm">
                                                        <blockquote class="blockquote-sm">Rating:</blockquote>
                                                        <div class="row margin-bottom text-align-center">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> One
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Two
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Three
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Four
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Five
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Is the Subject Understandable?</label>
                                                    <div class="well well-sm">
                                                        <blockquote class="blockquote-sm">Rating:</blockquote>
                                                        <div class="row margin-bottom text-align-center">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> One
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Two
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Three
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Four
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Five
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Is the Subject Understandable?</label>
                                                    <div class="well well-sm">
                                                        <blockquote class="blockquote-sm">Rating:</blockquote>
                                                        <div class="row margin-bottom text-align-center">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> One
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Two
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Three
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Four
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Five
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Is the Subject Understandable?</label>
                                                    <div class="well well-sm">
                                                        <blockquote class="blockquote-sm">Rating:</blockquote>
                                                        <div class="row margin-bottom text-align-center">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> One
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Two
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Three
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Four
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Five
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Is the Subject Understandable?</label>
                                                    <div class="well well-sm">
                                                        <blockquote class="blockquote-sm">Rating:</blockquote>
                                                        <div class="row margin-bottom text-align-center">
                                                            <div class="col-md-12">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> One
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Two
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Three
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Four
                                                                    </label>
                                                                    <label class="btn btn-default">
                                                                        <input type="checkbox"> Five
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Comments</label>
                                                    <div class="col-md-9">
                                                        <div class="col-md-9 col-xs-12">
                                                            <textarea class="form-control" rows="5"></textarea>
                                                            <span class="help-block">Please provide proper feedback</span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-footer">
                                    <button class="btn btn-primary pull-left">Clear form <span class="fa fa-eraser fa-align-left"></span></button>
                                    <button class="btn btn-primary pull-right">Submit <span class="fa fa-comments-o center-block"></span></button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>



                        </div>

                    <!--STOP EDITING HERE-->

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <% include tpl/quicksidebar.ejs %>
        </div>

        <!-- END CONTAINER -->

        <% include tpl/footer.ejs %>
</body>

</html>