<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<% include tpl/header.ejs %>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
<!-- BEGIN HEADER -->

<% include tpl/menu.ejs %>

<!-- END HEADER -->


<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <% include tpl/sidebar.ejs %>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->

            <!--h3 class="page-title"> Blank Page Layout
                <small>blank page layout</small>        To be resolved
            </h3-->

            <!-- END PAGE HEADER-->


            <!--START EDITING FROM HERE-->

            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red bold uppercase">Create Survey</span>
                    </div>
                </div>

                <div class="portlet light  div-survey-add">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-list font-dark"></i>
                            <span class="caption-subject bold uppercase">Create Survey Form</span>
                        </div>
                    </div>
                    <div class="portlet-body" id="create-survey-div">
                        <div class="row">
                            <div class="col-md-12">
                                <form id="create-survey">

                                    <input type="hidden" name="col_id" value="<%= user.col_id %>" />

                                    <div class="col-md-12">
                                        <div class="form-group col-md-6">
                                            <div class="col-md-5">
                                                <label class="form-control" for="year">Year</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input name="year" class="form-control" type="number" min="2015" max="2099" step="1" value="2017" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="col-md-5">
                                                <label class="form-control" for="sem">Semester</label>
                                            </div>
                                            <div class="col-md-5">
                                                <select class="form-control" name="sem" type="text" required >
                                                    <option value="odd">Odd</option>
                                                    <option value="even">Even</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <a class="btn green btn-outline create-survey-btn" data-toggle="modal" data-target="#modal_prof">CREATE SURVEY</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <span class="span col-md-6 col-md-offset-3" id="success-span" style="color: green; font-color: green; display:none;">Successfully created survey! Redirecting.....</span>
                            <span class="span col-md-6 col-md-offset-3" id="error-span" style="color: red; font-color: red; display:none;">Error message</span>
                        </div>
                    </div>
                </div>

            </div>


            <!--STOP EDITING HERE-->

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <% include tpl/quicksidebar.ejs %>
</div>

<!-- END CONTAINER -->

<% include tpl/footer.ejs %>

<script>

        //$('#success-span').fadeOut();

        $(document).ready(function(){
            $('#create-survey-div').on('click', '.create-survey-btn', function(e){
                e.preventDefault();

                $('#success-span').fadeOut();
                $('#error-span').fadeOut();

                $.ajax({
                    url: '../../ajax/create_survey',
                    data: $('#create-survey').serialize(),
                    method: 'POST',
                    success: function(data){
                        $('#success-span').fadeIn();
                        setTimeout(function(){
                            location.replace('../../<%= user.role %>/survey_list');
                        }, 3000);
                    },
                    error: function(error){
                        $('#error-span').text(error.status+' : '+error.statusText);
                        $('#error-span').fadeIn();
                    }
                })
            })
        })

</script>


</body>

</html>